[2019-04-24 17:47] dev7060 opened #4 "How can I get involved?"
Hey everyone, if you have a slack channel or something for discussion, I would appreciate an invitation. I had a look at this project and it seems quite fascinating to me

[2019-05-12 21:48] kwekwwelkwelk opened #5 "--------------"
---------------

[2019-05-22 04:26] BaseMax commented on #5
Hey Pedro Guilherme @pglapds,

Same as "<<" ">>" operator in C++?

- http://www-numi.fnal.gov/offline_software/srt_public_context/WebDocs/Companion/cxx_crib/input_output.html
- http://www.cplusplus.com/doc/tutorial/operators/

Regards,
Max.

[2019-05-24 02:49] pglapds commented on #5
Would it be possible?

[2019-05-24 10:28] BaseMax commented on #5
Yeah, We can follow this. @pglapds
But I not sure about it.

Because of the `<<`, `>>` operators used for shift-left, shift-right.
So it's not good when we use that for another purpose.

We require to better reasons to apply this change.
Remember the Semantic Analysis is important for a programming language.

[2019-05-24 20:41] pglapds commented on #5
[code]
Move the file, move the folder from another file for example "test.txt"  and | or "/new.txt"

[2019-05-24 20:48] pglapds commented on #5
I'm inspired by languages ​​like C++, PHP,  C,  Prolog. I would like to explain the use of the concept **"URL"** and the use of the symbol **"->** ... **"<-"**

[2019-05-26 19:57] pglapds opened #7 "Symbol Shell '&'"
#### Symbol Shell  '&'

1. I thought of a symbol for the command line... I believe this symbol would be better for being new, different.

2. Common symbols: '>', '#', '>>', '$' ....

3. '&' is good... or... it's better now or now in my concept.

[2019-05-26 20:02] BaseMax commented on #7
// here is

[2019-05-26 20:02] #7 closed

[2019-05-26 20:03] BaseMax commented on #7
Can you explain along with the example of your concept?

[2019-05-29 02:35] pglapds commented on #5
**What do you think?** I'm thinking of a new idea ir new syntax.  It would be interesting to have something different

[2019-06-12 22:18] kwekwwelkwelk opened #8 "information, change:: New Resource 'Font-Size Terminal, Shell'"
----------------------

[2019-06-12 22:43] BaseMax commented on #8
Well...

[2019-06-16 01:10] #8 closed

[2019-06-16 01:11] #5 closed

[2019-06-18 15:15] snaulX opened #9 "When release?"
When will release?

[2019-06-18 17:20] BaseMax commented on #9
Hey @snaulX,

Thank for your message.
We was busy to write the book of this programming language.
Is required for programmers, developers.

Regards,
Max

[2019-08-02 22:53] thecraftman opened #10 "implement on Ubuntu"
Good day, how can i implement this on ubuntu

[2019-08-02 22:56] BaseMax commented on #10
Hi @thecraftman,

Thank for your message.
We were busy to write the documentation.
Is required for programmers, developers.
We have a plan for this year, No worry.

Regards,
Max

[2019-08-04 02:34] thecraftman commented on #10
Thanks BaseMax i look forward to seeing that

[2020-08-06 20:29] Jomtek opened #11 "When is the release ?"
Hello. Since 2019 you told us you'll release One in 2019.
Now it's soon 2021. When is the release ?
Can we see the source code ? Why are you hiding it ? 👎

[2020-11-08 19:35] JayantGoel001 opened #12 "I would like to join this organization."

[2020-11-26 21:22] jbampton opened #13 "Would love an invite to the team"
Hey @BaseMax would love to join and help out where I can 👍

Since we worked on Donya we make a good team :)

[2020-11-27 10:26] #13 closed

[2020-11-30 21:49] #12 closed

[2020-12-18 12:37] midopooler commented on #13
Hey @BaseMax , I would also like to join this organisation. Can you let me in?

[2020-12-19 18:53] shivaylamba commented on #13
Hey @BaseMax , I would also like to join this organisation. Can you let me in?

[2020-12-24 10:20] riturajjain2000 commented on #13
Hello @BaseMax , my name is Rituraj. I am from India.
I Would like to join this organization.
I love to contribute to open source and will love to contribute to this organization.

[2021-04-21 09:05] jbampton opened #15 "Add GitHub Super Linter"
Hey Max,

I am going to add the Super Linter today as my first task.

https://github.com/github/super-linter

Hope you are doing well today.

Thanks.

[2021-04-21 09:10] Majalian opened #16 "I wanna join the One-Language Org !"
Hey BaseMax
I'm @jbampton friend and would like to join your org!
One Language \m/

[2021-04-21 09:11] BaseMax commented on #16
Hey Mujahid
Thank you, Do you have experience in **C programming**?

[2021-04-21 09:12] BaseMax commented on #15
Thank you John.

[2021-04-21 09:21] Majalian commented on #16
Hey Max
Unfortunately I don't.
but my friend @jbampton and I were working together on many projects regarding translation into more languages, it'd be a great step towards internationalizing and expanding your reach into more audience. I will provide fast and accurate translation for README and FAQ and any other docs that could potentially benefits you on the short or long run..
thanks to our frie

[2021-04-21 10:40] basalumutgazi opened #17 "I want to join the One-Language Org !!"
Hi!
I'm a friend of @jbampton and I translate into Turkish for him. There are 96 million speakers of Turkish around the world according to Wikipedia (https://tr.wikipedia.org/wiki/T%C3%BCrk%C3%A7e) So, I want to be a part of your team and do translations for you.
Thank you

[2021-04-21 11:06] ladyjheng26 opened #18 "I wanna join One-Language GitHub Organization !"
Hello! I am a friend of @jbampton and I do Filipino translations for him. As of today, there are about 24.2 million speakers of Tagalog or the Filipino language worldwide. It is even the sixth most-spoken language in the US. I would really love to be part of your organizations and I look forward to working with you.

[2021-04-21 13:42] VictorAraica opened #19 "I want to join the One-Language organization"
Hello,
I'm also a friend of John Bampton, at the time I'm working and studying so I don't have a lot of free time, but i still want to join your team. My native language is Spanish and I know how to use Python, Java, HTML, CSS, JavaScript, Tailwind, React and nodejs. I don't know much about C lang but i would really like to learn about it over time, and i think this is a great opportunity for that

[2021-04-21 13:54] riturajjain2000 opened #20 "Request for joining the Org"
Rituraj here form India , would love to join the org!

[2021-04-21 16:37] BaseMax commented on #19
Welcome Victor.

[2021-04-21 16:39] BaseMax commented on #19
Hi Victor
Thanks, What's your job and role in the company?
I think you can prepare the site for this project.

[2021-04-21 16:39] BaseMax commented on #18
Welcome Ladylyn.

[2021-04-21 16:40] BaseMax commented on #17
Thanks.
Welcome basalumutgazi. What's your Name?

[2021-04-21 16:43] BaseMax commented on #20
Hello Rituraj
If possible, please write about yourself so that we can get to know you better. What skills do you have?
Are you a UI designer? Can you design the site of this project?

[2021-04-21 17:26] jbampton commented on #19
Hey Max,

@VictorAraica doesn't have much time right now.  But he is still interested.

If you want I can look over the website code ?

I have worked on a lot of websites but its not my best skill.

Sorry I am a bit behind today a friend came over before to cook dinner.

Thank you.

[2021-04-21 17:34] BaseMax commented on #19
You are welcome. no problem.
We will need website in next step, not right now. So probably you can a few some time later. :+1:

[2021-04-22 00:45] ladyjheng26 commented on #18
Thank you BaseMax.

[2021-04-22 09:30] basalumutgazi commented on #17
Hi BaseMax,
My name is Umut.
Thanks.

[2021-04-22 11:01] riturajjain2000 commented on #20
I’m a Junior pursuing my B.Tech in Computer Science. I am having 2 years of hands-on experience in developing Android apps. Also, I work with Unity and have developed some fun Indie-games.
I love contributing to FOSS and have contributed majorly to UCSC,ODK-X and Oppia in the last few months along with minor fixes for Fossasia , NVIDIA and am a part of 35+ different communities on Github.

I mostl

[2021-05-23 02:48] BaseMax commented on #15
It will be useful for this project to auto lint and beautifly `*.c` files.

[2021-05-23 02:48] BaseMax commented on #15
link: https://github.com/One-Language/One/pull/21

[2021-05-23 02:49] #16 closed

[2021-05-23 02:49] #19 closed

[2021-05-23 02:49] #18 closed

[2021-05-23 02:49] #17 closed

[2021-05-23 03:29] #20 closed

[2021-05-23 03:32] BaseMax commented on #4
Hi sir;
We have a discord server, @jbampton will give you invite link.
Thanks

[2021-05-23 03:32] #15 closed

[2021-05-23 03:33] jbampton opened #22 "Auto lint and beautify `*.c` files"

[2021-05-23 03:34] BaseMax commented on #22
Thanks, I looking forward to see the PR of this.
Tonight i will write some stuff C code. And will see how this will works.

[2021-05-23 04:01] jbampton opened #24 "🦮 Update CONTRIBUTING.md 🦮"

[2021-05-24 00:08] BaseMax commented on #22
John, Are things going well?

[2021-05-24 21:02] jbampton commented on #4
Hello @dev7060  here is our Discord Server link:

https://discord.gg/sFCE2HcMCa

Come and chat with our team :)

[2021-05-25 05:35] jbampton opened #26 "Fix README buttons"

[2021-05-25 05:36] jbampton opened #27 "Fix grammar"

[2021-05-25 05:38] jbampton opened #28 "Fix CONTRIBUTORS.md"

[2021-05-25 05:42] jbampton opened #29 "Setup Patreon membership levels"

[2021-05-25 08:18] BaseMax commented on #28
Dear @n4i9kita;
Hello

Thank you for your message. Are you native at English?

[2021-05-25 08:24] BaseMax commented on #27
If someone is Native at English, it's your chance to fix grammar and typo problems at `grammar.BNF` file.

[2021-05-25 09:11] n4i9kita commented on #28
No. I am Indian.
But, I think I have a good grasp of the language.

[2021-05-25 09:12] BaseMax commented on #28
Thanks, Take a look at: https://github.com/One-Language/One/issues/27

[2021-05-25 09:15] jbampton commented on #28
Hey @n4i9kita thank you my friend 👍

[2021-05-25 09:18] BaseMax commented on #27
@n4i9kita, You can solve this issue now?

[2021-05-25 09:22] n4i9kita commented on #27
Yes, I am trying it now.
If I can, I will inform you.

[2021-05-25 09:47] n4i9kita commented on #27
Can you please explain what [this](https://github.com/One-Language/One/blob/d01620a9050967f5791e64eb6f9230feeb2cb518/grammar.BNF#L3) means ?
Is it that '``` it is not required for small programs and runnable scripts ```' ?

[2021-05-25 10:07] BaseMax commented on #27
Sorry for the delay. Can you link to the line you mentioned?
I don't know are you talk about which line.

[2021-05-25 10:07] BaseMax commented on #27
Line 3? https://github.com/One-Language/One/blob/master/grammar.BNF#L3

[2021-05-25 10:08] n4i9kita commented on #27
yes

[2021-05-25 10:09] BaseMax commented on #27
Usually when someone want to create a library and package, we have to define package name at first line of main file.

[code]

But generally, we not need to define package.

So it is only used when you want to design a library or package.

[2021-05-25 10:11] n4i9kita commented on #27
Ok. Thanks for explaining.

[2021-05-25 10:20] BaseMax opened #30 "Write a draft for Mission Statement of The One Programming Language"
HI

We are in early stage and need help of everyone, so please come on and help to each other and write mission statement for the project.

https://github.com/One-Language/One/blob/master/MISSION_STATEMENT.md

I am looking forward to see some PR for this file.

[2021-05-25 10:32] n4i9kita commented on #27
In [line 33](https://github.com/One-Language/One/blob/d01620a9050967f5791e64eb6f9230feeb2cb518/grammar.BNF#L33), [line 56](https://github.com/One-Language/One/blob/d01620a9050967f5791e64eb6f9230feeb2cb518/grammar.BNF#L56) and [line 85](https://github.com/One-Language/One/blob/d01620a9050967f5791e64eb6f9230feeb2cb518/grammar.BNF#L85),does  the <<b>second term</b>>  has 's' because of syntax or it i

[2021-05-25 10:34] BaseMax commented on #27
`function_arguments` is not `function_argument`

They are name/key of BNF grammar. not english.

[2021-05-25 10:43] BaseMax commented on #27
Just to be clear: if you change keys name, so you have to do for all other place where called that key name.

[2021-05-25 10:49] BaseMax commented on #30
sample :
http://insieme-compiler.org/mission.html

https://gcc.gnu.org/gccmission.html

[2021-05-25 10:53] BaseMax commented on #30
https://fsharp.org/

[2021-05-25 10:54] BaseMax commented on #30
Mission Statement of Python:

https://www.python.org/psf/mission/

[2021-05-25 10:55] n4i9kita commented on #27
There were 2-3 spelling errors in the key names. I have just corrected that.

[2021-05-25 10:58] BaseMax commented on #30
Hey John,
I think it is better to write this ourselves.
Because translators do not have enough computer skills and may not be able to write.

If possible, write this yourself.
We are gradually upgrading and improving.

Finally, we get help from translators to improve the text.
But first you and I have to work.

And so, I am looking forward to see your PR.

[2021-05-25 11:05] BaseMax commented on #27
Thanks Nikita.

[2021-05-25 11:14] n4i9kita commented on #27
Please review the pr.
Also, can I work on some other issue now ?

[2021-05-25 11:15] BaseMax commented on #27
Thanks, done.

Yes; Are you a programmer? can you introduce yourself too?

[2021-05-25 11:25] n4i9kita commented on #27
Yes.
 I am pursuing my BTech in Computer Science and Eng. at IIT Varanasi, India. I have completed my 2nd yr at college a few days back, and that's when I started with Open Source Contributions. I made my first contribution to Sympy      ( library in python), and 2nd one is yours. :)
I think, I am proficient in C++ and Python and have majorly worked with these two, and am familiar with C, Kotlin a

[2021-05-25 11:26] BaseMax commented on #27
Invitation send. welcome.

[2021-05-25 11:29] n4i9kita commented on #28
@jbampton , Stay stong and take care. :)

[2021-05-25 11:30] BaseMax commented on #27
If you would like to help to Mission Statement. it's really very good. https://github.com/One-Language/One/issues/30
After that, we can work together on core and technical part. @n4i9kita

[2021-05-25 11:59] #27 closed

[2021-05-25 12:01] jbampton opened #32 "Get GitHub Actions working on PR"

[2021-05-25 12:10] #32 closed

[2021-05-25 12:34] jbampton opened #35 "🪝 Add more pre-commit hooks 🪝"

[2021-05-25 12:45] n4i9kita commented on #27
Sorry for the delay.
I read #30 .
Yes, I would like to help  as much as I can.

[2021-05-25 12:53] n4i9kita commented on #30
@BaseMax may I help in writing a draft ?

[2021-05-25 12:56] n4i9kita commented on #30
Or, may I help with some other issues right now ?

[2021-05-25 13:18] n4i9kita commented on #26
@jbampton is this done or can I do it ?

[2021-05-25 13:19] BaseMax commented on #30
Hello again
Nikata, you can do this. please write draft MISSION STATEMENT.

[2021-05-25 13:19] n4i9kita commented on #24
@jbampton  is this resolved or can I do it ?

[2021-05-25 13:20] jbampton commented on #24
Hey @n4i9kita you can fix this

[2021-05-25 13:25] jbampton commented on #26
Hey @n4i9kita you are pretty hardcore mate 🥇  Yes please do this for us :)

[2021-05-25 14:08] n4i9kita commented on #26
I will do this first.

[2021-05-25 18:00] javatlacati opened #36 "🧪 Testing 🧪"
How can you test the code?

[2021-05-25 18:02] jbampton commented on #36
We have some tests that run on pull request.

We plan to add more.   We also use `pre-commit`.

[2021-05-25 18:10] javatlacati commented on #36
Yes, but.. if I write

[code]

how do I test it without converting it to another language?
Do you have any One-Language-based testing framework?

perhaps to do something like:

[code]

[2021-05-25 18:13] jbampton commented on #36
Codewars training hey ?

You will have to ask @BaseMax what he thinks

[2021-05-25 18:56] javatlacati commented on #36
Actually having a testing framework is all you pre-require to get it included inside Codewars, for your consideration

[2021-05-26 03:00] n4i9kita opened #37 "Readme Updated"
Fixes  #26

[2021-05-26 03:03] #37 closed

[2021-05-26 13:21] n4i9kita commented on #28
What all features do you want in  CONTRIBUTORS.md ?

[2021-05-26 13:51] BaseMax commented on #28
Please add yourself there.

[2021-05-26 13:51] BaseMax commented on #28
I think we need a documentation/writer/translator section at that file.

[2021-05-26 15:26] BaseMax opened #40 "Adding One twitter at the README"
Hey friends;

Currenly my twitter account linked to README.
We need to change to to the official team twitter account.

I'm looking for twitter username...

[2021-05-26 15:27] jbampton commented on #40
https://twitter.com/onelangteam

[2021-05-26 15:29] BaseMax commented on #40
Thanks, Solved.

Now we need discord badges.

I'm looking: https://shields.io/category/social

[2021-05-26 15:30] jbampton commented on #40
https://shields.io/category/chat

[2021-05-26 15:32] BaseMax commented on #40
What's our serverId?

[2021-05-26 15:32] BaseMax commented on #40
discord invite link is: https://discord.gg/sFCE2HcMCa

[2021-05-26 15:38] BaseMax commented on #40
Thanks;
Please change line `[DiscordBadge]: https://img.shields.io/discord/592103645835821068?label=Discord&logo=discord&logoColor=white` at README.Md

[2021-05-26 15:44] n4i9kita commented on #28
Ok. I will do it.

[2021-05-26 15:47] BaseMax opened #41 "📱 We can add other social account INSTA, FB to README 📱"
Pages:

- https://www.instagram.com/one.lang/
- https://www.facebook.com/onelangteam

We need Image badges.

[2021-05-26 16:02] BaseMax commented on #40
Thanks JOhn;

[2021-05-26 16:02] #40 closed

[2021-05-27 05:27] BaseMax opened #43 "GitHub not have email obfuscation"
Hello;

https://github.com/One-Language/One/blob/master/README.md#-get-involved

GitHub not have email obfuscation, so we have to change email address at public place.

I usually follow this pattern:
MaxBaseCode { @ } gmail [ . DOT . ] com

But some person said: Email address is MaxBaseCode at gmail.com domain
Or something like it.

Another method is to convert email address to image:
- https://ch

[2021-05-27 05:28] BaseMax commented on #43
I contacted the GitHub team and they liked the idea. But there is no promise as to when this will be ready.
So it's better to solve this in another way because GitHub does not currently have this feature.

[2021-05-27 11:56] jbampton opened #44 "Add Dependabot"

[2021-05-27 11:56] jbampton opened #45 "Add CodeQL"

[2021-05-27 12:11] jbampton opened #46 "Add Codespell on pre-commit"

[2021-05-27 12:12] jbampton opened #47 "Add Clang Format with pre-commit"

[2021-05-27 12:17] jbampton opened #48 "Fix spelling"

[2021-05-27 13:00] jbampton opened #51 "📠 Code scanning results / CodeQL Completed in 4s — 1 analysis not found. What does this mean ?? 📠"

[2021-05-27 13:02] #26 closed

[2021-05-27 13:11] jbampton opened #52 "Add EditorConfig"
https://editorconfig.org/

[2021-05-27 13:11] jbampton opened #53 "Add the Pull Request Labeler"
https://github.com/actions/labeler

[2021-05-27 13:13] jbampton opened #54 "🐛 Add GitHub issue templates 🐛"
https://docs.github.com/en/communities/using-templates-to-encourage-useful-issues-and-pull-requests/configuring-issue-templates-for-your-repository

[2021-05-27 13:53] jbampton opened #55 "🧪 Add Unit Testing 🧪"
In computer programming, unit testing is a software testing method by which individual units of source code—sets of one or more computer program modules together with associated control data, usage procedures, and operating procedures—are tested to determine whether they are fit for use.

https://en.wikipedia.org/wiki/Unit_testing
https://en.wikipedia.org/wiki/List_of_unit_testing_frameworks

[2021-05-27 20:57] jbampton opened #56 "🛍️ Add GitHub Sponsors with Open Collective 🛍️"

[2021-05-27 21:26] BaseMax commented on #30
For example this sample.

[code]

[2021-05-27 21:26] BaseMax commented on #30
For example: We not should allow null, and need to keep **null safety** and check all null values at compile step.

C does not.
Rust does it.

[2021-05-27 21:30] BaseMax commented on #30
## Data Type

The data type must be precisely determinable.

[code]
For example:
- i8 means: int 8 bit
- u8 means unsigned int 8 bit

The `char` data type can store utf8 character. e.g: "ه"
If you want to develop system-level program and want to work with ASCII char. you can use `int` data type.

[2021-05-27 21:38] BaseMax commented on #30
## Function return value

Another point: we need ability to return multi values and variables in a single function. (Go has this feature as well)

[2021-05-27 21:39] BaseMax commented on #30
## OOP? yes or no?

What do you think?

I not think too much to deep features of OOP.
But I think a minimal features of OOP is good.
I think module/package idea is more better.

You can define a function public easily:

[code]

[2021-05-27 21:48] BaseMax commented on #30
## GC

GC? I think RUST method is good for compiler languages.
I not sure so much.

Check this for Rust gc: https://stackoverflow.com/questions/32677420/what-does-rust-have-instead-of-a-garbage-collector

If you want more technically article about Rust gc: https://manishearth.github.io/blog/2021/04/05/a-tour-of-safe-tracing-gc-designs-in-rust/

https://www.reddit.com/r/rust/comments/b742vu/if_rust

[2021-05-27 21:52] BaseMax commented on #30
## Multi Thread

We also want this. C++ have good functionality in this case. nice and clean syntax. (Not completely)

And finally `await`  and `async` (JS)

[2021-05-27 22:25] BaseMax commented on #36
Hi Ruslan;

We are happy you to join our team and be with us. It will be great if you accept our invite to join this org even if you do not have the opportunity to work, you can advise us.

assertToBe(main, 0,"expected return value to be 0")

It was a very good offer.

Best;

[2021-05-27 22:25] BaseMax commented on #36
Dear ismael suggest a c library for unit testing.

https://github.com/ThrowTheSwitch/Unity

[2021-05-28 08:23] #52 closed

[2021-05-28 09:25] BaseMax commented on #51
John, can you explain where you got that text? We not have that in the project.

[2021-05-28 09:26] BaseMax commented on #51
https://securitylab.github.com/tools/codeql/

[2021-05-28 09:29] jbampton commented on #51
It happens on pull requests.  I added CodeQL for Javascript.

<img width="1290" alt="Screen Shot 2021-05-28 at 7 27 59 pm" src="https://user-images.githubusercontent.com/418747/119963080-08282300-bfeb-11eb-89dd-1c57c2ee8fa2.png">

[2021-05-28 09:31] jbampton commented on #51
https://github.com/One-Language/One/blob/master/.github/workflows/codeql-analysis.yml

[2021-05-28 19:52] jbampton opened #61 "Remove the CLION editor settings from Git"
The `.idea` folder is not meant to be committed it is your own editor specific files.

You should add the `.idea` folder to your global `gitignore`.

https://docs.github.com/en/github/getting-started-with-github/getting-started-with-git/ignoring-files#configuring-ignored-files-for-all-repositories-on-your-computer

<img width="893" alt="Screen Shot 2021-05-29 at 5 41 00 am" src="https://user-image

[2021-05-28 22:01] BaseMax commented on #61
Done: https://github.com/One-Language/One/commit/148352b65c65f12e66cdd1b14da781b5b4ef2dc9

[2021-05-28 22:12] #61 closed

[2021-05-28 22:13] BaseMax commented on #56
Mostly done we need to wait for the response of the Sponsors team at GitHub...
Thanks John;

[2021-05-29 04:53] #47 closed

[2021-05-29 07:42] #53 closed

[2021-05-29 08:43] abdorah commented on #30
<h1 align="center"><strong style="color: red;">One Programming Language</strong></h1>

<h2><strong style="color: red;">Definition & Features</strong></h2>

A programming language should be easy, fun to learn, and rich in terms of features and funcionalies. Those are exactly the requirements that we are trying to acheive in **One programming language** project. Consequently, **One programming langu

[2021-05-29 08:51] BaseMax commented on #30
Thanks Kotbi.
Just some minor changes in my mind:

What do you means by `byte-code`?

We are a compiler so we will not have an interpreter I think.

We going to generate an object-code and binary and finally an executable file. so it's not a virtual machine or byte-code like JVM/java. And we generate binary file such as C, Go, Rust, etc.
LLVM can help us in this case to generate object-code for ev

[2021-05-29 09:04] BaseMax commented on #30
**Just to make clear above paragraphs:**

For example, interpreter languages such as Python and PHP or Javascript, TypeScript... have some very good features some things missed at C.
We want to design them if they are possible and useful.

[2021-05-29 10:04] BaseMax opened #66 "Improve ISSUE Template"
Can someone please check template text and improve text / modify and fix Grammar mistakes?

If you have a suggestion or comment, please include it in the text or add a question if you think it is necessary.

https://github.com/One-Language/One/tree/master/.github/ISSUE_TEMPLATE

[2021-05-29 10:05] BaseMax commented on #66
Dear John, please tag @tHe_AK for this one. @jbampton

[2021-05-29 10:09] BaseMax commented on #66
#### A new tempalte

Also, I think we need another template for documentation writer and translated.

We have to ask about the English skills, or also other languages they know and good at.

And also we need to ask about their technical computer knowledge.
Since maybe a person is a writer and not have much information about Programming and/or IT.

[2021-05-29 10:14] tHe-AK commented on #66
Got it, Let me formulate some template first then you can have a look for finalizing it.

[2021-05-29 10:19] dev7060 commented on #4
ty

[2021-05-29 10:19] #4 closed

[2021-05-29 16:07] BaseMax commented on #30
## It’s aim

I'm a programmer myself and see problems some things others face but they do not try to change.
It does not mean they cannot program right now, But we just want to do works in an easier way.

We want to provide a new tool to write programs easier and better.

"One language" will be a compiler.
Maybe one day we decide to have both compilers and interpreters
But right now I think the co

[2021-05-29 16:07] BaseMax commented on #30
## The situation and the difference we'll make

so, with one language
you can create executable programs and websites
normally you would need more than 3 different languages
right?

**"THE SITUATION OF THE MARKET AND THE CHANGES THAT OUR LANGUAGE WILL CREATE."**

The main purpose is to keep one language for the most need of the programmers.
Maybe it's a big goal but we are trying to help.

I mean

[2021-05-29 16:08] BaseMax commented on #30
## DESIGN AND DEVELOPMENT GOALS

I am not sure what's different from this subject to above.

what the one language will do in a different way
and it will be used like a introduction
here, we are going to say everything we plan to do without talking about other languages

- Clean and easy syntax
- General-purpose
- Useful functionality and runtime-library
- Bootstrapping and self-host compiler
- Ab

[2021-05-29 16:08] BaseMax commented on #30
## FEATURES OF THE LANGUAGE

we explained almost everything.

and the thing that you are planning to add to "DESIGN AND DEVELOPMENT GOALS"
should we go that way
or just delete "FEATURES OF THE LANGUAGE"

But our project is still at the alpha version and all features are currently not stable and ready.

We did some different versions of compilers, But right now we are rewriting the whole beginning

[2021-05-29 16:08] BaseMax commented on #30
## our next topic is "DESIGN DECISIONS"

I not sure what I have to say. :)

- Modules may be referred to each other and depend on other modules.
- Programmer is able to split a program into different parts into separate files.

If we go deeper, this will be long.

We can talk about everything.

For example, In One language you can define the data type of variable, and also you can leave it. Since

[2021-05-29 16:08] BaseMax commented on #30
## "run-time system choice"

At runtime, we do not have NULL and our language is null-safety.
So you can make sure everything works at runtime, Since you passed so many errors at compile step :)

About run-time, currently, we will use **Glibc** and programmers allow to use and link this. Because all of the computer library needs this. (pthread, libcurl, libopenssl, mysql/mariadb database, etc)
But

[2021-05-29 16:08] BaseMax commented on #30
## LIBRARY

The topic we are going to write now is "LIBRARY"

will onelangueage support commonly used libraries? etc.

We will have a module/package store to list all of One package and users able to see a list of popular and most downloaded packages, most used packages, recently updated packages, etc.

Everyone allow to create and publish a package, we will have a check team to review all package

[2021-05-29 16:08] BaseMax commented on #30
## Interoperability

direct C interface

[2021-05-29 16:08] BaseMax commented on #30
## supported platforms

"supported platforms"

In order of priority:
- Linux
- Windows
- macOS
- BSD family

and mobile platforms in future!

Yes, but not now.

[2021-05-29 16:17] basalumutgazi commented on #30
You can also see my notes here.
Please note that these are not the latest forms, these are just ideas we've put together with @BaseMax. The Mission Statement will be written later based on these ideas.

# THE MISSION STATEMENT OF THE ONE PROGRAMMING LANGUAGE

THE SITUATION OF THE MARKET AND THE CHANGES THAT OUR LANGUAGE WILL CREATE.
One Language lets you to create both executable programs and webs

[2021-05-29 21:20] BaseMax commented on #30
Syntax suggestion from a friend, dear Amin:

[code]

[2021-05-29 21:23] BaseMax commented on #66
No update? I would like to see your PR. @tHe-AK

[2021-05-30 12:30] abdorah commented on #30
<h1 align="center"><strong style="color: red;">One Programming Language</strong></h1>

<h2><strong style="color: red;">Definition & Features</strong></h2>

A programming language should be easy, fun to learn, and rich in terms of features and functionalities. Those are exactly the requirements that we are trying to achieve in the **One programming language** project. Consequently, **One programmin

[2021-05-30 12:41] jbampton commented on #61
Yes we need the `.clang-format` file :)

[2021-05-30 14:25] #66 closed

[2021-05-31 17:11] basalumutgazi commented on #30
Here is the final version of the Mission Statement.
# THE MISSION STATEMENT of *the One Language*

## One Language for all

In today’s world, there are so many programming languages, and each of them is used for different purposes. If you need executable programs, scripts, and websites for your project, to be able to do all these operations, you need more than 3 different languages.

*The One lang

[2021-06-01 07:55] BaseMax opened #71 "[Need Help] Operator-precedence parser"
Hi, I took the initial phase of the parser forward and it works well and detects **tokens**.

Now I need help arranging operations and operators. Does anyone want to help? (Operator-precedence parser)
for e.g:
[code]

[2021-06-01 19:27] Majalian opened #72 "[Join] Documentation team"
Hi, One language Team;
I'm here to tell you I'm interested in the project and want to be a part of this compiler to help and participate in this open-source project.

## Introduction

## Your correct role

I'm a copywriter, marketer and business consultant
## Timezone

Amman, Jordan; UTC/GMT +3 hours

## Language Proficiency

List of languages you know with their proficiency level (Beginner, Inter

[2021-06-04 11:05] jbampton commented on #24
Hey @BaseMax  I am doing this now my way.  No more manual and total automation

[2021-06-04 11:11] jbampton opened #74 "🩱 Core Team Only All Contributors Bot Add Contributors Here 🩱"
https://allcontributors.org/

https://allcontributors.org/docs/en/emoji-key

[2021-06-04 11:14] jbampton commented on #74
@all-contributors please add @BaseMax for code

[2021-06-04 11:25] jbampton commented on #74
@all-contributors please add @jbampton for projectManagement

[2021-06-04 12:02] jbampton commented on #74
@all-contributors please add @basalumutgazi for doc

[2021-06-04 12:23] jbampton commented on #74
@all-contributors please add @n4i9kita for doc

[2021-06-04 13:09] jbampton commented on #74
@all-contributors please add @ajmeese7 for doc

[2021-06-04 14:08] jbampton commented on #74
@all-contributors please add @tHe-AK for doc

[2021-06-04 16:10] jbampton opened #81 "🩱 `One` will be in Hacktoberfest 2021 🩱"
`One` will be offering prizes in October for Hacktoberfest 😎

I think we could easily do the first 50 merged into `One` in October WIN !!!

I can cover the costs of cool stickers and postage all over the world 🚀🚀🚀🚀🚀🚀🚀🚀

I've started this conversation let's all really keep it going and come up with some awesome ideas 🍓 🌶️ 🥩 🦪 🎂 🍾

https://hacktoberfest.digitalocean.com/

[2021-06-04 16:20] snapogod commented on #71
here is cpp's operator precedence https://en.cppreference.com/w/cpp/language/operator_precedence im pretty sure its common sense using bidmas i can help if need be.

[2021-06-04 16:53] #22 closed

[2021-06-04 17:13] jbampton commented on #74
@all-contributors please add @all-contributors for doc

[2021-06-04 18:24] abdorah commented on #72
Hi, One language Team;
I'm interested too in this project, and as @Majalian did let me introduce myself:

* Introduction
I am software engineering student in Ensias, Rabat, Morocco.

* Timezone
Rabat, Morocco; UTC/GMT +1 hours

* Language Proficiency
French: Expert
English: Expert
Arabic: Expert

* Programming/IT knowledge
I think that in relation to the One project, I am good with the c programmi

[2021-06-04 18:28] abdorah commented on #55
Hey @jbampton! I just want to ask you for more clarification about how do you want to implement unit testing in this project.
For example, what framework you want to use?

[2021-06-04 21:00] BaseMax commented on #71
[LexAndYacc.pdf](https://github.com/One-Language/One/files/6601207/LexAndYacc.pdf)
[OperatorPrecedenceParsing.pdf](https://github.com/One-Language/One/files/6601208/OperatorPrecedenceParsing.pdf)
![unknown](https://user-images.githubusercontent.com/2658040/120862074-9416ed80-c59d-11eb-904c-853b40d75c1a.png)

[2021-06-04 21:01] BaseMax commented on #71
Thank you for your message.

Okay, honestly I not sure about some special operators. such as >> << and etc.
I aware Operator-precedence is different in every language. So I not sure how we can go up.
I think we can figure out how PHP works by thinking about its Operator-precedence parser.
- https://github.com/php/php-src/blob/master/Zend/zend_language_scanner.l
- https://github.com/php/php-src/blo

[2021-06-04 21:01] BaseMax commented on #71
I checked its parser. They did not divide the phrase into several groups.
And he manages these using BISON. https://github.com/php/php-src/blob/master/Zend/zend_language_parser.y#L1041
Since we are writing Parser by hand, we need to group and know more details.

- https://www.tutorialspoint.com/cprogramming/c_operators_precedence.htm
- https://en.cppreference.com/w/c/language/operator_precedence

[2021-06-04 21:03] BaseMax commented on #71
Dear @snapogod;
https://github.com/One-Language/One/issues/71#issuecomment-854995262

Can you help us complete the BNF grammar? https://github.com/One-Language/One/blob/master/grammar.BNF
I need to know grammar of all operators.

[2021-06-04 21:19] BaseMax commented on #81
"117d 23h 12m 8s" https://hacktoberfest.digitalocean.com/

Okay John, Let us ready with power. :+1:

[2021-06-04 21:20] #43 closed

[2021-06-04 21:24] jbampton commented on #81
https://hacktoberfestswaglist.com/  🩱🩱🩱🩱🩱🩱🩱🩱🩱🩱🩱🩱

<img width="930" alt="Screen Shot 2021-06-05 at 7 20 43 am" src="https://user-images.githubusercontent.com/418747/120864056-f20ff900-c5ce-11eb-9fa3-31890212ee19.png">

[2021-06-04 21:41] BaseMax commented on #71
Another nice implementation of the expression parser. But it does not help us much.
https://github.com/maxicombina/c-calculator/blob/master/calculator.c

[2021-06-04 21:50] BaseMax commented on #71
Some useful references I find yesterday:
https://depositonce.tu-berlin.de/bitstream/11303/2630/1/Dokument_46.pdf
https://cdn2.hubspot.net/hubfs/3881487/ExprParser_User_Guide.pdf?t=1517563829446

Another nice implementation of the expression parser:
https://github.com/programoworm/Expression_Recogniser/blob/master/expression.c

[2021-06-04 21:53] BaseMax commented on #71
Another nice implementation of the expression parser:
https://github.com/programoworm/Expression_Recogniser/blob/master/expression.c

This is something I extracted from the above code but it is still incomplete and has a problem:
[code]

[2021-06-04 21:58] BaseMax commented on #71
I found some online tools that can test grammar.
This is very interesting and it is better to test the grammars in the same way.

- https://mdkrajnak.github.io/ebnftest/
- https://bnfplayground.pauliankline.com/

But I'm looking for something that can draw a picture and show it with a figure ... Do you know anything?

[2021-06-04 22:02] BaseMax commented on #71
Another nice example from `PEG.JS`:

[code]
https://pegjs.org/online

[2021-06-04 22:04] BaseMax commented on #71
The above codes are summarized as follows:
[code]

The problem is that this grammar is not complete and does not include dozens of operators!

[2021-06-04 22:07] BaseMax commented on #71
A tiny YACC/Bison example:
[code]
https://www.cs.uic.edu/~spopuri/ibison.html

[2021-06-04 22:11] BaseMax commented on #71
Okay, so again we need "Precedence of operators in BNF grammar" with all operators not only + - * /.

[2021-06-04 22:13] BaseMax commented on #71
And finally, I find BNF of c language:
https://cs.wmich.edu/~gupta/teaching/cs4850/sumII06/The%20syntax%20of%20C%20in%20Backus-Naur%20form.htm

And also another nice documentation for BNF:
https://www.radford.edu/~nokie/classes/380/syntax.html

[2021-06-04 23:00] jbampton commented on #74
@all-contributors please add @BaseMax for bug, business, content, doc, example, ideas, infra, maintenance, mentoring,  projectManagement, question, research, review, test,

[2021-06-04 23:11] jbampton commented on #74
@all-contributors please add @dependabot for maintenance and security

[2021-06-05 06:11] jbampton commented on #74
@all-contributors please add @jbampton for business, code, doc, eventOrganizing, financial, fundingFinding, ideas, infra, maintenance, mentoring, review, test, tutorial, talk

[2021-06-05 06:24] BaseMax opened #102 "[Join] Core team"
[code]

[2021-06-05 06:40] jbampton opened #103 "💄 Let's all get PRETTY 💄"
https://prettier.io/

https://prettier.io/docs/en/precommit.html

<img width="1363" alt="Screen Shot 2021-06-05 at 4 34 35 pm" src="https://user-images.githubusercontent.com/418747/120882621-5e651980-c61c-11eb-9401-9178bd94ae85.png">

<img width="1393" alt="Screen Shot 2021-06-05 at 4 34 30 pm" src="https://user-images.githubusercontent.com/418747/120882634-6755eb00-c61c-11eb-9143-7832446de043.png

[2021-06-05 11:32] BaseMax commented on #103
But We already have `clang-format`. Can you explain a bit more? @jbampton

[2021-06-05 11:32] BaseMax commented on #103
C/C++ not supported, so probably we have to skip it.

[2021-06-05 11:33] BaseMax commented on #103
John, This support JSX, You can add this to website repo.

[2021-06-05 12:21] BaseMax commented on #71
[code]

Currently + - operators supported. But we need to add many more operators.

[2021-06-05 22:44] abdorah commented on #36
Hello friends, if we agree with using this framework I have a few points to discuss:
1- https://github.com/ThrowTheSwitch/Unity/blob/master/docs/UnityGettingStartedGuide.md here is a good place to start learning about it.
2- @BaseMax does using unity require any changes on the code structure?
3- what do you think guys from this attempt to use unity?

[2021-06-06 00:11] BaseMax commented on #36
Thank you Kotbi. @abdorah
Yeah, auto testing (unit-test, ...) is necessary for this project.

These are the files that I think need to be tested:

- lexer.test.c
- parser.test.c
- ast.test.c

In the lexical stage we will have a series of test texts that we have to have in front of a presentation of tokens. (token typps array)
And check if the tokens we get from the program are equal to the tokens

[2021-06-06 00:18] BaseMax commented on #36
Now I see your fork. It's good, you moved the test file to another directory. :+1:
If you have done this. please send your PR. It's welcome. @abdorah
Thanks

[2021-06-06 02:01] abdorah commented on #36
Thank you @BaseMax !
I took into consideration the files that you said that they need tests. I started with `lexer.test.c` .  Also, I omitted the file `arg-test` because I think that we can leave it to the end (We can use it to make something similar to an integration test, what do you think?).
This is what I did so far: https://github.com/abdorah/One/blob/master/unit-tests/
It is basically someth

[2021-06-06 09:09] BaseMax commented on #36
Thank you. Send your PR when it's ready.

On Sun, Jun 6, 2021, 6:31 AM Kotbi Abderrahmane ***@***.***>
wrote:

[2021-06-06 12:35] jbampton opened #106 "🗄️ Monorepo for One must start now by including the `Document` site 🗄️"
**Is your feature request related to a problem? Please describe.**

In version control systems, a monorepo is a software development strategy where code for many projects is stored in the same repository. As of 2017, various forms of this software engineering practice were over two decades old, but the general concept had only recently been named.

**Describe the solution you'd like**

Auto deploy

[2021-06-06 12:47] devkadirselcuk opened #107 "[Join] Core team"
Hi, One language Team;
I'm here to tell you I'm interested in the project and want to be a part of this compiler to help and participate in this open-source project.

## Introduction

## Your correct role

I'm a Bachelor's student of computer science at the University of Cambridge.
And Have a part-time job at an embedded system company in India and I work as a C programmer.

## Timezone

Brisbane,

[2021-06-06 12:58] BaseMax commented on #106
We already have a repository for documentation. https://github.com/One-Language/Document
it's up and launches with GitHub pages.
https://docs.onelang.org/#/en/

[2021-06-06 12:58] BaseMax commented on #106
If possible, explain why we should use https://readthedocs.org/? @jbampton

[2021-06-06 18:09] devkadirselcuk opened #108 "```suggestion"
[code]

_Originally posted by @jbampton in https://github.com/One-Language/One/pull/105#discussion_r646128151_

[2021-06-06 18:36] jbampton commented on #107
Invite is now sent.  Thanks !!

[2021-06-06 18:36] #107 closed

[2021-06-06 18:37] jbampton commented on #108
Invite sent.  Good to see you :)

[2021-06-06 18:37] #108 closed

[2021-06-06 18:40] jbampton commented on #103
Prettier also support Markdown and some others could come in handy too.

Auto formatting.

I am going to add it now to `One`.  Thank you !!

[2021-06-07 01:39] jbampton commented on #74
@all-contributors please add @abdorah for code

[2021-06-07 01:51] jbampton commented on #74
@all-contributors please add @jassab for design

[2021-06-07 09:49] basalumutgazi commented on #72
Hi, One language Team;
I'm here to tell you I'm interested in the project and want to be a part of this compiler to help and participate in this open-source project.

## Introduction
Hello, my name is Umut and I am from Turkey. I am a student and I really love being a part of programming organizations like this. My field of study is related to languages. Thank's to that, I am good at writing and t

[2021-06-07 10:11] basalumutgazi opened #114 "[Join] Documentation team"
Hi, One language Team;
I'm here to tell you I'm interested in the project and want to be a part of this compiler to help and participate in this open-source project.

## Introduction
Hello, my name is Umut and I am from Turkey. I am a student and I really love being a part of programming organizations like this. My field of study is related to languages. Thank's to that, I am good at writing and t

[2021-06-07 10:27] BaseMax commented on #114
Welcome, Umut.

[2021-06-07 12:49] BaseMax opened #116 "🖼️ LOGO of The One Programming Language 🖼️"
Hi there;
![The One Programming Language](https://user-images.githubusercontent.com/2658040/121019253-80919f80-c7b4-11eb-9723-b9afcae42801.png)

It's designed by **Javad Sabet** (a.k.a Jas)

He is my friend and was my early coworker in this project years ago.
He believes 1 or @ character is good idea for the LOGO of this project.

[2021-06-07 12:51] BaseMax commented on #116
But today, Dear Umut shared a new idea and cool logo with me.
I think it's good too.
I ask the Umut to share all of the logo files here.

[2021-06-07 13:10] basalumutgazi commented on #116
I have 2 different versions. Made everything you wanted for both of them. Thank you!

![2_black_stroke](https://user-images.githubusercontent.com/81925269/121022212-d103ff80-c7aa-11eb-960f-7a8e14e6a218.png)
![2_white_stroke](https://user-images.githubusercontent.com/81925269/121022216-d19c9600-c7aa-11eb-9fe3-70546f07e44a.png)
![2_white](https://user-images.githubusercontent.com/81925269/121022217-

[2021-06-07 14:22] devkadirselcuk opened #117 "[Join] Core team"
Hi, One language Team;
I'm here to tell you I'm interested in the project and want to be a part of this compiler to help and participate in this open-source project.

## Introduction

## Your correct role

I'm a Bachelor's student of computer science at the University of Cambridge.
And Have a part-time job at an embedded system company in India and I work as a C programmer.

## Timezone

Brisbane,

[2021-06-07 14:30] BaseMax commented on #117
Hi sir;
Could you please complete the text? And enter your real profile? @devkadirselcuk

[2021-06-07 18:24] jbampton opened #119 "📜 Research textlint 📜"
https://github.com/textlint/textlint

[2021-06-07 19:00] jbampton commented on #74
@all-contributors please add @Majalian for doc

[2021-06-08 17:18] BaseMax commented on #56
We are still waiting for the GitHub sponsor team, Probably we will get this soon...

[2021-06-08 18:33] BaseMax commented on #71
A message from Dear snappyagggodypingable:

[code]

all those right?

[2021-06-08 18:34] BaseMax commented on #71
ruby:
[code]

And again message from Dear snappyagggodypingable:

[code]

[2021-06-08 20:32] BaseMax commented on #71
Hooray, It's mostly done and now works. :+1:
I did used C operators table: https://en.cppreference.com/w/c/language/operator_precedence

[2021-06-08 20:58] BaseMax commented on #71
**A = (2 + 15 * ( 25 - 13 ) / 1 - 4) + 10 / 2**

AST TREE of The above mathematic expression:

[code]

I'm not sure it's correct or no.
It's wrong. but what is correct? so....
A = (2 + 15 * (( 25 - 13 ) / 1) - 4) + 10 / 2
A = (2 + (15 * ( 25 - 13 ) / 1) - 4) + 10 / 2
or ?

[2021-06-08 21:05] BaseMax commented on #71
Correct answer/tree is:
![photo_2021-06-09_01-35-12](https://user-images.githubusercontent.com/2658040/121257453-f4ba6900-c8c2-11eb-940b-6c4c6cf57d08.jpg)

Thanks from https://github.com/carlos-chaguendo/arboles-binarios

[2021-06-08 21:19] jbampton commented on #71
Great work @BaseMax !!  🥇

[2021-06-09 03:20] BaseMax opened #124 "🇮🇷 Translate README to Persian 🇮🇷"

[2021-06-09 03:21] BaseMax opened #125 "🇹🇷 Translate README to Turkish 🇹🇷"

[2021-06-09 03:21] BaseMax opened #126 "🇪🇸 Translate README to Spanish 🇪🇸"

[2021-06-09 03:22] BaseMax opened #127 "🇯🇴 Translate README to Arabic 🇯🇴"

[2021-06-09 03:35] BaseMax commented on #124
`:iran:` is probably IR flag. :iran:

[2021-06-09 10:45] basalumutgazi commented on #125
#130 File translated and PR created.

[2021-06-09 10:45] #125 closed

[2021-06-09 11:09] jbampton commented on #74
@all-contributors please add @basalumutgazi for translation

[2021-06-09 11:11] jbampton commented on #74
@all-contributors please add @basalumutgazi for  projectManagement

[2021-06-09 11:13] jbampton commented on #74
@all-contributors please add @Majalian for  projectManagement

[2021-06-09 11:25] BaseMax commented on #56
### You've been approved for GitHub Sponsors

Your GitHub Sponsors profile is live.

![Screenshot_2021-06-09_15-54-49](https://user-images.githubusercontent.com/2658040/121346193-0a6b7500-c93b-11eb-86ec-1521efcbe7d9.png)

[2021-06-09 11:26] BaseMax commented on #56
Hooray! :+1:
https://github.com/sponsors/One-Language

[2021-06-09 11:26] BaseMax commented on #29
John, please do and complete this one.

[2021-06-09 11:26] #56 closed

[2021-06-09 11:40] jbampton opened #136 "🐕 Configure Hound 🐕"
http://help.houndci.com/en/articles/2138473-hound

[2021-06-09 19:35] Majalian commented on #127
will get right on it

[2021-06-09 19:39] BaseMax commented on #127
Thanks mate.

On Thu, Jun 10, 2021, 12:05 AM Mujahid Al-Majali ***@***.***>
wrote:

[2021-06-09 19:47] jbampton commented on #74
@all-contributors please add @basalumutgazi for translation

[2021-06-09 19:48] jbampton commented on #74
@all-contributors please add @basalumutgazi for  mentoring

[2021-06-09 21:26] BaseMax opened #143 "Adding arabic README link to English and Turkish MD"

[2021-06-10 04:34] shannon-nz opened #144 "[Join] Website team"
Hi, One language Team;
I'm here to tell you I'm interested in the project and want to be a part of this compiler to help and participate in this open-source project.

## Introduction

## Your correct role

I'm a Bachelor's student of computer science at the University of Cambridge.
And Have a part-time job as a Front-end developer at X company in India and I work as a JS programmer.

## Timezone

[2021-06-10 04:35] shannon-nz commented on #144
The info is wrong, I will make a new one to correct it

[2021-06-10 04:38] shannon-nz opened #145 "[Join] Website team"
Hi, One language Team;
I'm here to tell you I'm interested in the project and want to be a part of this compiler to help and participate in this open-source project.

## Introduction
I'm Shannon, a Full Stack Developer.
More info about me can be found here <a href="https://github.com/shannon-nz">https://github.com/shannon-nz</a>

## Timezone
NZT - New Zealand Time / Auckland

## Programming experi

[2021-06-10 04:38] #144 closed

[2021-06-10 11:13] BaseMax opened #147 "Set LTR direction for code blocks at AR.md file"

[2021-06-10 11:14] BaseMax opened #148 "Link languages to each other: link arabic at README.md and TR.md and link others at AR.md"

[2021-06-10 11:15] BaseMax commented on #148
Done

[2021-06-10 11:15] #148 closed

[2021-06-10 11:19] BaseMax opened #149 "🥊 🍱 Checkbox direction problem at AR.md file ✔️✅"

[2021-06-10 19:29] jbampton opened #152 "Add Spanish language link to the README"

[2021-06-10 21:32] jbampton commented on #114
Welcome mate !!

[2021-06-10 21:32] #114 closed

[2021-06-10 21:35] jbampton commented on #117
Hey @BaseMax @turkdevops is already in our organization and also on discord.

Welcome mate

[2021-06-10 21:35] #117 closed

[2021-06-11 01:35] jbampton commented on #145
Invite sent.  Welcome

[2021-06-11 01:35] #145 closed

[2021-06-11 01:38] jbampton commented on #126
Done

[2021-06-11 01:38] #126 closed

[2021-06-11 01:39] jbampton commented on #103
Done

[2021-06-11 01:39] #103 closed

[2021-06-11 01:41] jbampton commented on #74
@all-contributors please add @Anderson-Garcia for translation

[2021-06-11 06:00] JayantGoel001 opened #154 "[Join] Website team"
Hi, One language Team;
I'm here to tell you I'm interested in the project and want to be a part of this compiler to help and participate in this open-source project.

## Introduction

I am Jayant Goel.
I like Android, Web Development, and Data Science.
## Your correct role

I'm a Bachelor's student of computer science at the Jaypee Institute Of Information technology.
And Have a part-time job as a

[2021-06-11 06:22] jbampton commented on #154
Invite is now sent.  Welcome mate 💯

[2021-06-11 06:22] #154 closed

[2021-06-11 20:37] devkadirselcuk commented on #36
Gerçekten harika işler çıkarıyorsunuz, aranızda olmak muhteşem

[2021-06-12 10:45] BaseMax opened #158 "Ignore non-English MD file from spell checker"

[2021-06-12 20:08] basalumutgazi commented on #127
Thank you @Majalian. Closing the issue.

[2021-06-12 20:08] #127 closed

[2021-06-12 20:09] #143 closed

[2021-06-12 21:24] jbampton commented on #74
@all-contributors please add @RayhanADev for doc

[2021-06-13 01:42] #158 closed

[2021-06-13 07:38] BaseMax commented on #71
**_ (2 + 15 * ( 25 - 13 ) / 1 - 4) + 10 / 2**

Tree Output of the expression:

[code]

I not sure it's correct or no.

[2021-06-13 07:48] BaseMax commented on #71
That was wrong. I fixed bug https://github.com/One-Language/One/commit/4c073531a2d5e8800b3f83beb9d143e2487a7691.

and finally it's AST output:

[code]

[2021-06-13 09:01] BaseMax opened #165 "Fix build: Link to LLVM11 in CMAKE"

[2021-06-13 10:04] BaseMax commented on #165
**$ cmake --build . --verbose**
[code]

[2021-06-13 10:26] BaseMax commented on #165
https://github.com/secure-software-engineering/phasar/issues/57

[2021-06-13 10:33] BaseMax commented on #165
Hello @MovingtoMars;
Welcome here.

I know you already face to the same problem with Zig. Do you know how we can fix this problem?

I guess it's related to static/dynamic linking.

[2021-06-14 07:47] ajakov commented on #116
I like this one the most

[2021-06-14 17:52] BaseMax opened #169 "Set RTL direction for the README_FA file"
Only persian text need to set RTL.

english text need to keep LTR.

[2021-06-14 18:02] BaseMax opened #170 "Link FA.md file to all of the other README files"
**Name of the language is:** Persian or Farsi (or فارسی in Persian)

I not sure which is formal for international people.

[2021-06-14 18:06] BaseMax opened #171 "Complete Persian/FA readme file and solve minor problems"
Need a native Persian person or Iranian open-source lover

I will do this probably...

https://github.com/One-Language/One/blob/master/README_FA.md

[2021-06-14 20:11] BaseMax commented on #171
@amir-shiati accepted this and will complete it ASAP.

[2021-06-14 20:12] BaseMax commented on #171
John, please assign this issue to Dear "amir-shiati".
Thanks in advance.

[2021-06-14 20:27] BaseMax opened #172 "THE One syntax: Idea, Improve"
Hi there;
Welcome here. please share what you think and all of your idea.

[2021-06-14 20:27] BaseMax commented on #172
[code]

[2021-06-14 20:30] BaseMax commented on #172
[code]

[2021-06-14 20:30] BaseMax commented on #172
[code]

[2021-06-14 20:34] BaseMax commented on #172
[code]

[2021-06-14 20:35] BaseMax commented on #172
[code]

[2021-06-14 20:58] BaseMax commented on #172
[code]

[2021-06-14 21:52] jbampton opened #173 "🏮 Add more information to the CONTRIBUTING guide 🏮"
https://github.com/One-Language/One/blob/master/CONTRIBUTING.md

Good to have more on:

- Tips on pre-commit
- Python
- yamllint
- markdownlint
- Clang Format
- Git hooks
- Homebrew
- Windows 10 setups
- Ubuntu WSL
- Oracle VirtualBox
- Ubuntu

[2021-06-15 11:38] jbampton commented on #74
@all-contributors please add @eltociear for doc

[2021-06-15 11:50] jbampton commented on #74
@all-contributors please add @murataka for code

[2021-06-15 15:01] BaseMax commented on #172
a image from Amir:

![photo_2021-06-15_19-30-28](https://user-images.githubusercontent.com/2658040/122076526-30e45100-ce10-11eb-82f6-121b7d277fcf.jpg)

[2021-06-15 15:01] BaseMax commented on #172
a image from Amir (Dart language):

![photo_2021-06-15_19-31-02](https://user-images.githubusercontent.com/2658040/122076612-42c5f400-ce10-11eb-9c96-b8d0ebb66986.jpg)

[2021-06-15 23:45] BaseMax commented on #165
I think it's solved by me. Hooray! :heart:
https://github.com/One-Language/One/commit/361336dbfb00098224cdd9b91a8caf6b2441cc9c, https://github.com/One-Language/One/commit/c58b4aa8485f68375d2d204bacb5838178059e48

[2021-06-15 23:46] #165 closed

[2021-06-17 04:36] #147 closed

[2021-06-17 04:44] jbampton commented on #124
Done

[2021-06-17 04:44] #124 closed

[2021-06-17 04:45] jbampton commented on #54
Done

[2021-06-17 04:45] #54 closed

[2021-06-17 05:35] #169 closed

[2021-06-17 21:48] BaseMax commented on #71
Sorry, I don't have much time to translate this to English:

<div dir="rtl">
سلام شب همگی بخیر؛
سوالی داشتم لطفا راهنمایی ام کنید.
اینکه یک اپراتور چپ به راست هست یا راست به چپ چه مفهومی داره؟

مثلا جمع و تفریق بنظر چپ به راست هست.
5 + 4
5 - 4
ضرب و تقسیم هم همینطور چپ به راست هست.
5 * 4

اما مساوی راست به چپ هست.
a = 5+4
حتی کوچک تر / بزرگتر/ کوچکتر مساوی  / بزرگتر مساوی هم چپ به راست هست.
5 > 4

[2021-06-17 21:51] BaseMax commented on #71
<div dir="rtl">
یه چیزی یاد گرفتم گفتم اینجا هم بگم شاید برای برخی هم سوال باشه.
چپ به راست بودن یا راست به چپ بودن عملگر تنها در شرایطی مهم میشه که حداقل دو تا عملگر هم جنس یا تکراری داشته باشیم.
در شرایطی که یک عملگر باشه هیچ فرقی نمیکنه که از چپ شروع بشه یا از راست.

عبارت ریاضی:
x = y = z

دو تحلیل مختلف که میشود داشت:
یکی از راست:
x = (y = z)
یکی از چپ:
(x = y) = z

اینجا چون حداقل دو تا عملگ

[2021-06-17 22:04] BaseMax commented on #71
<div dir="rtl">
========= نیم ساعت بعد =========

سعی کردم یه عبارت ریاضی سخت تر و پیچیده بسازم:
</div>
5 * !+-X / 2
<div dir="rtl">
خب روی همین عبارت گیر کردم. سوالی که برای ادم پیش میاد این هست که الان
منفی ایکس رو تقسیم بر دو بکنم و بعد ادامه بده یا اینکه نه همه رو حساب بکنه اخر سر تقسیم بر دو بکنه.
با اینکه گیج میزنم سعی میکنم دامه بدهم ببینم به چی و چه مرحله ای میرسم:
</div>
5 * !(+(-(x))) /

[2021-06-18 16:54] Majalian opened #180 "New Logo"
**Is your feature request related to a problem? Please describe.**
a new logo for the One Language

![One Language Logo](https://user-images.githubusercontent.com/81928799/122593872-f0364300-d06e-11eb-9928-abe2175294c2.png)

[2021-06-19 07:12] amir-shiati commented on #171
Hey guys.
@BaseMax @jbampton Done! #181

[2021-06-19 11:25] #171 closed

[2021-06-19 11:32] BaseMax commented on #170
Now the Persian language is done and ready So it's time for this.

[2021-06-20 20:21] jbampton commented on #74
@all-contributors please add @amir-shiati for translation

[2021-06-22 08:25] amir-shiati commented on #170
@BaseMax
done. #183

[2021-06-22 22:21] #170 closed

[2021-07-05 00:20] BaseMax commented on #81
**87d 20h 9m 46s**

Time is passing sooner than we think.
And we are very slow.

[2021-07-05 02:20] jbampton commented on #81
@basalumutgazi  was going to help with this

[2021-07-06 10:35] jbampton commented on #180
Thank you mate !!  Well done thanks :)

[2021-07-06 10:35] #180 closed

[2021-07-06 10:36] #119 closed

[2021-07-07 14:18] jbampton commented on #35
Done

[2021-07-07 14:18] #35 closed

[2021-07-07 14:19] jbampton commented on #116
Great work all !!!  Done !!

[2021-07-07 14:19] #116 closed

[2021-07-07 15:27] BaseMax opened #193 "🚢 Docker to build and run test file 🛳️"

[2021-07-14 05:47] BaseMax commented on #41
Hey, we need to add these badges to README.

[2021-07-19 23:28] Majalian commented on #30
**MISSION STATEMENT**

“One offers a unique design experience for programmers around the world, by providing creative, ingenious, and innovative solutions, it’s time for One programming language for all!”

**VISION STATEMENT**

“Compile and Unite with One Language”

**ONE**

The best cost-efficient, fast and reliable language did not exist until now, with One language it is undeniable that you wil

[2021-07-24 23:11] jbampton commented on #74
@all-contributors please add @Ubersetzerin for translation

[2021-07-24 23:38] jbampton commented on #74
@all-contributors please add @mafedeocampo for translation

[2021-07-27 22:38] abdorah commented on #193
Hello, I think that to make this in a proper way we need to agree exactly on the basic things that define our image. The first thing is that what we are trying to make is a `Dockerfile` with a base image of production and a set of tools that we need to include. To clearly explain what I meant I wrote this simple example as a first attempt that we can discuss:
[code]

[2021-07-27 22:58] BaseMax commented on #193
Thanks, Please send a PR for this one. @abdorah

Note: We use latest version of LLVM. So 12

[2021-07-27 22:59] BaseMax commented on #149
Please, one person, check and confirm it's solved or no. we need to know we have this problem or no.

[2021-07-27 23:00] BaseMax commented on #193
`Docekrfile` and `docker-compose.yml`.
We already have a empty `docker-compose.yml` file but we need ti fill it or remove.

[2021-07-28 01:08] BaseMax commented on #193
PR sent by Kotbi at https://github.com/One-Language/One/pull/202. (link to PR)

[2021-07-28 01:09] BaseMax commented on #136
John, can you explain a bit more about this issue?

Thanks in advance.

[2021-07-28 01:09] BaseMax commented on #81
**64d 19h 20m 43s**

^_^ We are going...

[2021-07-28 01:10] BaseMax commented on #29
John, please complete this one today.  :P

[2021-07-28 15:58] abdorah commented on #173
Hi @jbampton , This is a good idea since it would be more helpful for newcomers to have a good guide on how to help. I am working on this right now but can you give more details about this:

I tried to make something like this:

<h1 align="center"><strong>Contributing to the ONE Programming Language</strong></h1>

## How to Contribute

#### **First, Discuss**

`The ONE Programming Language` is a v

[2021-07-28 17:25] BaseMax opened #203 "Ignore the `src/parser/parser` binary file in gitignore"
Hi there,

We have to ignore the `src/parser/parser` binary file in gitignore.

This is what git status i see while I'm developing:

[code]

[2021-07-28 17:26] BaseMax commented on #203
I already added this to the **.gitignore** file but it seems not to work.

https://github.com/One-Language/One/blob/master/.gitignore#L9

[2021-07-28 17:50] BaseMax commented on #203
I think already been solved, Just we need to test it with another person, not me.

Let me know results, after that we can close this issue. :heart:

[2021-07-28 17:55] BaseMax commented on #28
cc: https://github.com/One-Language/One/issues/173

[2021-07-28 17:56] BaseMax commented on #28
HI Nikita, You will work on this issue?

Please let us know. thanks in advance.

[2021-07-28 17:56] BaseMax commented on #28
John, What is problem of the **CONTRIBUTORS.md** file? @jbampton

[2021-07-28 20:45] abdorah commented on #203
Hey, @BaseMax I see that you already solved this problem. I think that the `.gitignore` file that you added works perfectly.
This is a picture of the actual `.gitignore` file that you wrote:
![image](https://user-images.githubusercontent.com/37270435/127392881-824c6cf6-05c3-470c-b5aa-91480ff2d0b1.png)
And this is working in my case because as you can see git "ignores" `parser`
![Screenshot from 20

[2021-07-28 20:47] BaseMax commented on #203
Thank you, so this work.

[2021-07-28 20:47] #203 closed

[2021-07-29 08:02] abdorah commented on #193
Hey, @BaseMax I have changed the code that I used for the previous PR. Now there is no need to have an `install_llvm.sh` file all we need is a `Dockerfile` and `docker-compose.yml`.

[2021-07-29 11:19] abdorah commented on #149
Are you talking about this problem:
![image](https://user-images.githubusercontent.com/37270435/127480706-9d922069-83a2-4cd0-922a-ded8adadf873.png)
this is a [screenshot from README_AR.md](https://github.com/One-Language/One/blob/master/README_AR.md)
The problem is when I open the file on my pc it works fine:
![image](https://user-images.githubusercontent.com/37270435/127481369-3d1bbcc4-f123-4c3b-

[2021-07-29 11:55] BaseMax commented on #193
Thanks 👍

[2021-07-29 11:56] #193 closed

[2021-07-30 10:50] abdorah commented on #41
**We can do something like this:**

<a href="https://www.instagram.com/one.lang/">
<img align="left"  width="22px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Instagram_icon.png/600px-Instagram_icon.png" />
</a>
<a href="https://www.facebook.com/onelangteam">
 <img align="left"  width="22px" src="https://facebookbrand.com/wp-content/uploads/2019/04/f_logo_RGB-Hex-Blue_512.png?w=

[2021-07-30 12:09] BaseMax opened #206 "Contributors: Kotbi"
John, Add kotbi to another part of Contributors. he is not helped only as a programmer. he did some part of MISSION STATEMENT and Docker.

[2021-07-30 16:54] abdorah opened #208 "ONE LANGUAGE DockerHub repository"
Hello everyone!
Since I created the first version of our docker repository I will give you a full description of our goal and our ideas related to this topic.
The docker repository was created by a [GitHub workflow](https://github.com/abdorah/One/blob/master/.github/workflows/docker-image.yml) (this is the first attempt and can be changed later).

## What we need for the docker repository
1. The f

[2021-08-01 21:28] abdorah commented on #208
Hello everyone! this is the first version of our docker hub readme.md file:

https://github.com/One-Language/One/blob/master/README_DOCKER.md
in docker hub

https://hub.docker.com/r/onelangorg/one

[2021-08-01 21:34] BaseMax commented on #173
If you get a chance, complete this and send a PR. After that, we can close this issue and keep you updated content in **CONTRIBUTING** file.

[2021-08-01 21:35] BaseMax commented on #208
Thank you so much. **^_^**

[2021-08-01 21:35] #208 closed

[2021-08-02 22:47] BaseMax opened #210 "Translate README to French language"

[2021-08-02 22:50] BaseMax opened #211 "Improve and extend unit tests in `lexer.test.c`"
As you know **LEXER** stage is mostly ready-to-production and we already defined all and most keywords. so we need so many more unit tests at the `lexer.test.c` file.

https://github.com/One-Language/One/blob/master/test/lexer.test.c#L75

I already defined some unit tests there, so you can take a look to understand how this test system work.

[2021-08-02 23:06] BaseMax opened #212 "Our pre-commit/clang-format config is not great"
As you see in some file for example `lexer.test.c` file I want to implement items of tokens in several lines..
https://github.com/One-Language/One/blob/master/test/lexer.test.c#L82

for example:

[code]
This is **VERY BAD** and not readable, we want some better syntax format.

This is much better:

[code]

[2021-08-02 23:08] BaseMax commented on #212
This is our **clang-format** config:
https://github.com/One-Language/One/blob/master/.clang-format

We can take a look at other c/c++ projects to see what clang-config these use...

[2021-08-02 23:09] BaseMax commented on #211
If you need and want to learn more about the LIST OF ALL TOKENS you can read here:
- https://github.com/One-Language/One/blob/master/src/lexer/tokenizer/token.h#L20
- https://github.com/One-Language/One/blob/master/src/lexer/tokenizer/token.h#L20

[2021-08-02 23:14] BaseMax opened #213 "Show result of test cases with RED or GREEN color at the test stage"
As you see the below image, it's not readable, if wee so many test cases.

We will be unable to detect which test failed and which not.
we need to set line red, so by the way we can easily understand FAILED TEST fast.

![Screenshot_2021-08-03_03-42-40](https://user-images.githubusercontent.com/2658040/127934762-0e7ed586-09a2-40d6-bfbe-7a036a0a8b7b.png)

[2021-08-02 23:16] BaseMax commented on #213
Done, solved.

[2021-08-02 23:16] #213 closed

[2021-08-02 23:17] BaseMax commented on #213
This is preview of now:
![Screenshot_2021-08-03_03-46-30](https://user-images.githubusercontent.com/2658040/127934983-cd94c9df-cb85-4bb0-940d-1da843fb7985.png)

[2021-08-03 13:28] BaseMax opened #216 "Using shell variables in build.sh of the test stage"
As you know it's better for example: to get `clang` from  the **CC** variable.
and not repeat other arguments and flags.
We can put requirements file paths into a variable to make the build.sh, file shorter.

[2021-08-04 08:03] mohitsaxenaknoldus commented on #216
Please assign it to me. Can you also provide path to the concerned file.

[2021-08-04 08:05] BaseMax commented on #216
Sure, You are welcome.

https://github.com/One-Language/One/blob/master/test/build.sh

[2021-08-04 08:12] mohitsaxenaknoldus commented on #216
Ok so you want to variabalize clang using the CC variable? Where is this CC variable? Or do you want it to be created?
And by requirements file paths do you mean all those paths being passed to the command?

[2021-08-04 08:13] BaseMax commented on #216
I just want the commands and phrases that are repetitive not to be repeated and to use the variable.

[code]

[2021-08-04 08:26] mohitsaxenaknoldus commented on #216
ok got it now! I will create a PR soon.

[2021-08-04 10:31] abdorah commented on #210
https://github.com/One-Language/One/blob/master/README_FR.md

[2021-08-04 10:33] BaseMax commented on #210
Thanks

[2021-08-04 11:04] BaseMax commented on #210
link: https://github.com/One-Language/One/pull/219

[2021-08-04 11:04] #210 closed

[2021-08-04 11:11] mohitsaxenaknoldus commented on #216
Opened PR: https://github.com/One-Language/One/pull/220
@BaseMax Please take a look.

[2021-08-04 11:38] #216 closed

[2021-08-04 19:12] BaseMax opened #221 "Link French language to the other README files"
For example:
- https://github.com/One-Language/One/blob/master/README.md
- https://github.com/One-Language/One/blob/master/README_AR.md
- .......

[2021-08-04 19:22] mohitsaxenaknoldus commented on #221
Assign it to me, please. I'll do it.

[2021-08-04 19:26] BaseMax commented on #221
Thanks, Sure. welcome.

I am looking forward your PR.

[2021-08-05 08:38] mohitsaxenaknoldus commented on #221
PR raised: https://github.com/One-Language/One/pull/222
@BaseMax

[2021-08-05 08:40] #221 closed

[2021-08-06 06:20] jbampton commented on #74
@all-contributors please add mohitsaxenaknoldus for doc and code

[2021-08-06 09:43] jbampton commented on #74
@all-contributors please add  abdorah for doc

[2021-08-06 11:52] jbampton commented on #206
Done

[2021-08-06 11:52] #206 closed

[2021-08-07 14:26] BaseMax opened #226 "pre-commit warnings"
Hi everyone;

Can someone check the pre-commit config and fix these warnings/errors?

I think we need to ignore the `README_FR.md` file in some steps of pre-commit.

[code]

Best

[2021-08-09 11:01] jbampton commented on #226
Done

[2021-08-09 22:36] BaseMax commented on #226
Thank you

[2021-08-13 12:05] jbampton commented on #41
Done

[2021-08-13 12:05] #41 closed

[2021-08-13 12:27] jbampton opened #238 "Add FB, instragram and license buttons to all readmes"
Add 3 buttons copied from the main English Readme

[2021-08-13 18:16] pedramcvx1 commented on #238
It's already done and merged.

[2021-08-13 18:16] #238 closed

[2021-08-13 21:35] BaseMax commented on #238
Thanks Pedram.

[2021-08-14 00:43] jbampton commented on #238
Thanks mate !!!

[2021-08-14 08:04] jbampton commented on #212
https://stackoverflow.com/questions/33258159/how-to-make-clang-format-skip-sections-of-c-code

@BaseMax

[2021-08-14 09:24] jbampton commented on #74
@all-contributors please add @pedramcvx1 for docs

[2021-08-14 10:30] abdorah commented on #211
Hi! I am interested in this issue.

[2021-08-14 10:34] jbampton commented on #211
I have assigned you now to this issue

[2021-08-25 16:37] BaseMax commented on #81
**36d 7h 23m 15s**

I am a little worried because we are also involved in the festival.

[2021-09-02 12:26] mohitsaxenaknoldus commented on #149
I've found a fix to this: https://github.com/One-Language/One/pull/250

[2021-09-03 06:42] #149 closed

[2021-09-03 06:48] BaseMax commented on #212
Good trick
[code]

[2021-09-28 03:36] jbampton opened #260 "🩱 Hacktoberfest 2021 - First 20 Win🩱"
The first 20 merged win.

All 20 get some stickers.

Top ten get a t-shirt.

[2021-09-28 03:53] jbampton commented on #74
@all-contributors please add @mikey-b for code

[2021-09-28 07:24] BaseMax commented on #260
Thanks, Happy to all ^_^

[2021-09-28 07:32] BaseMax commented on #81
https://github.com/One-Language/One/issues/260

[2021-12-18 05:53] xahmd commented on #172
i think its fine for now

[2021-12-27 10:58] jbampton commented on #74
@all-contributors please add @xahmd for doc

[2021-12-27 13:29] jbampton opened #276 "✨ Add Git Attributes file ✨"
https://www.git-scm.com/docs/gitattributes
https://git-scm.com/book/en/v2/Customizing-Git-Git-Attributes

[2021-12-27 13:56] jbampton opened #278 "🔥 Docker Hub login 🔥"
**Describe the bug**
GitHub Action fails for Docker

**To Reproduce**
Open a PR

**Expected behavior**
Tests pass green

**Screenshots**
<img width="453" alt="Screen Shot 2021-12-27 at 11 52 09 pm" src="https://user-images.githubusercontent.com/418747/147478222-41448e59-6169-4603-ab14-bc82a572e2df.png">

**Additional context**
Do we need a bot account to log into Docker ?

[2021-12-27 14:20] jbampton commented on #278
I think we don't need this one on PR only on merge to `main`

[2021-12-27 14:30] jbampton opened #280 "🕴️ Rename `master` branch to `main` 🕴️"

[2021-12-27 14:59] jbampton commented on #278
Fixed by #279

[2021-12-27 14:59] #278 closed

[2021-12-27 15:01] jbampton commented on #173
Done well enough for now.  Thanks everyone !!

[2021-12-27 15:01] #173 closed

[2021-12-27 15:06] jbampton commented on #71
Hey @BaseMax what is the status of this issue ?

[2021-12-27 16:52] BaseMax commented on #280
# I agree, thanks

[2021-12-27 16:55] BaseMax commented on #278
One user of community created docker hub account. If you need to access it we can tag him.

[2021-12-27 17:00] BaseMax commented on #71
It's fixed in new version, I have to push new version and focus on the core.

[2021-12-28 09:36] jbampton opened #286 "We should use Conventional Commits"
https://www.conventionalcommits.org/en/v1.0.0/

"The Conventional Commits specification is a lightweight convention on top of commit messages. It provides an easy set of rules for creating an explicit commit history; which makes it easier to write automated tools on top of. This convention dovetails with SemVer, by describing the features, fixes, and breaking changes made in commit messages."

The

[2022-01-08 09:41] mohitsaxenaknoldus commented on #280
Can I work on this?

[2022-01-08 18:41] BaseMax commented on #280
Yeah welcome ☺️

[2022-01-10 10:04] mohitsaxenaknoldus commented on #280
Have we already changed the default branch to `main` in the settings?

[2022-01-11 04:51] BaseMax commented on #280
Good morning.
No, first we need to clone master branch into `main` branch.
next we can remove master branch and setting the default branch to `main`.

Best,
M.

[2022-01-11 04:58] BaseMax commented on #280
Now the branch moved. So now it's Okay in your mind?

[2022-01-11 05:14] BaseMax commented on #276
So the main question is what **Attributes** we need and what help can do?

[2022-01-11 05:16] BaseMax commented on #260
**2021** finished and now going plan for **2022**.
We will create another new issue for the 2022 prizes.

Best wishes for everyone who involved in **One** project.

Happy coding! ^_^
M.

[2022-01-11 18:10] mohitsaxenaknoldus commented on #280
I guess it's already done by now.

[2022-01-12 21:35] jbampton opened #288 "🧪 Check Markdown links 🧪"
**Is your feature request related to a problem? Please describe.**
I hate broken links

**Describe the solution you'd like**
No broken links in all `One` repos

**Describe alternatives you've considered**
Manual checking or post production link scanners

**Additional context**
Use the GitHub Marketplace tools or Actions

https://github.com/marketplace?type=&verification=&query=check+markdown+links

[2022-01-12 21:37] jbampton commented on #288
https://github.com/marketplace/actions/markdown-link-check

[2022-01-18 04:52] BaseMax commented on #288
What do you mean by broken line? EOF line?

[2022-01-27 04:25] jbampton commented on #74
@all-contributors please add @parsa011 for doc

[2022-01-27 05:33] jbampton commented on #280
Done now.  Thanks everyone !!

[2022-01-27 05:33] #280 closed

[2022-01-31 13:19] jbampton commented on #288
Not broken lines but broken `links` or hyperlinks in the Markdown files

[2022-01-31 14:34] jbampton commented on #276
Done now :)

[2022-01-31 14:34] #276 closed

[2022-01-31 17:09] #260 closed

[2022-01-31 17:10] BaseMax commented on #260
Going for 2022.

[2022-03-31 18:59] jbampton opened #318 "🎬 Add the GitHub Action `First interaction` 🎬"
**Is your feature request related to a problem? Please describe.**
Would like to auto greet new people

**Describe the solution you'd like**
https://github.com/marketplace/actions/first-interaction

**Describe alternatives you've considered**
Manual is slower and error prone and also not very fancy

**Additional context**
Let's come up with something interesting to say on `First interaction` 💯

[2022-04-23 03:50] jbampton commented on #288
Done now 🥇

[2022-04-23 03:50] #288 closed

[2022-04-23 03:54] #81 closed

[2022-04-23 03:57] jbampton commented on #24
Done now.  Thanks everyone 💯

[2022-04-23 03:57] #24 closed

[2022-04-23 15:21] jbampton opened #324 "Lint Dockerfiles with `hadolint` using `pre-commit`"
https://github.com/hadolint/hadolint

[2022-04-23 15:59] #324 closed

[2022-04-23 16:01] jbampton opened #326 "Fix the `hadolint` errors on `pre-commit`"
`pre-commit` now requires `Docker` to run the `hadolint` hook

[code]

[2022-04-25 18:46] jbampton commented on #74
@all-contributors please add @restyled-commits for code

[2022-04-25 18:52] jbampton commented on #74
@all-contributors please add @Kkkkkk58 for translation

[2022-05-01 18:53] jbampton commented on #74
@all-contributors please add @ihasidul for review

[2022-06-04 02:46] jbampton commented on #71
Do you have an update on this ?  Is core ready in the new branch ?

[2022-07-25 21:08] jbampton opened #352 "`pre-commit` fails when MD053 is removed"
`pre-commit` fails when MD053 is removed

Run markdownlint.........................................................Failed
- hook id: markdownlint
- exit code: 1

README_AR.md:447:1 MD053/link-image-reference-definitions Link and image reference definitions should be needed [Unused link or image reference definition: "sponsorbadge"] [Context: "[sponsorbadge]: https://camo.g..."]

many more entries

[2022-07-25 21:09] jbampton commented on #352
Seems running the markdown linter alone does not find this

[2022-07-25 21:23] jbampton commented on #352
No need to have the "sponsorship" button on the READMEs twice

[2022-07-26 06:26] jbampton opened #353 "Lint modified files only with Super-Linter"
https://github.com/github/super-linter

[2022-07-28 01:53] #353 closed

[2022-07-28 12:50] #74 closed

[2022-07-28 12:53] jbampton commented on #212
Do we need any other custom Clang Format settings ?

[2022-07-29 10:53] BaseMax opened #355 "Translate Italian"
Hi John, Would you please invite @DanyB0?
He can probably translate to italian.

Thanks, and welcome.

[2022-07-30 08:08] jbampton opened #357 "Add DanyB0"
@all-contributors please add @DanyB0 for translation

[2022-07-30 08:10] jbampton commented on #357
@all-contributors please add @DanyB0 for translation

[2022-08-28 06:09] BaseMax commented on #71
A new update: almost every operator work well in the new version. We are on a roll!
Happy ^_^

[2022-08-28 09:15] #357 closed

[2022-08-28 09:16] #355 closed

[2022-09-02 04:23] jbampton opened #364 "🗄️ Put README docs in separate directory 🗄️"

[2022-09-02 04:37] jbampton opened #366 "Add alesar1"

[2022-09-02 04:37] jbampton commented on #366
@all-contributors please add @alesar1 for translation

[2022-09-02 04:39] #366 closed

[2022-09-02 09:51] sokratisvas commented on #364
Hi, I would like to help. What should be the name of the new directory?

[2022-09-02 15:39] Gokul2003g commented on #364
Hey I have created a PR where I have moved README files into a folder name 'README' and left the main README.md in english language as it is.

[2022-09-02 17:11] #364 closed

[2022-09-02 17:14] jbampton opened #373 "Order the language links in the READMEs"
Seems Japanese is out of order

[2022-09-02 17:15] jbampton opened #374 "Add Gokul2003g"

[2022-09-02 17:16] jbampton commented on #374
@all-contributors please add @Gokul2003g for doc

[2022-09-02 17:16] Gokul2003g commented on #374
My first PR. Thanks @jbampton for helping out!

[2022-09-02 17:18] #374 closed

[2022-09-02 17:19] jbampton commented on #374
Thanks @Gokul2003g well done !! 👍

[2022-09-02 18:01] jbampton commented on #364
Hey @sokratisvas  #373 is open 👍

[2022-09-03 03:28] #373 closed

[2022-09-03 03:30] jbampton opened #378 "🖨️ Fix broken links in non-English READMEs 🖨️"
[✖] grammar.BNF → Status: 400
[✖] CONTRIBUTING.md → Status: 400

https://github.com/One-Language/One/runs/8165058948?check_suite_focus=true

[2022-09-03 03:32] jbampton opened #379 "Add sokratisvas"

[2022-09-03 03:33] jbampton commented on #379
@all-contributors please add @sokratisvas for doc

[2022-09-03 03:35] #379 closed

[2022-09-04 11:59] #378 closed

[2022-09-07 16:01] BaseMax opened #382 "Korean translation"
Hi, good first issue

[2022-09-07 16:01] BaseMax commented on #382
Maybe @Yaminyam is interested.

[2022-09-07 16:07] Yaminyam commented on #382
I'm interested in that contribution! What can I do?

[2022-09-07 17:49] BaseMax commented on #382
We have a README.md file. Would you translate that?

[2022-09-07 17:49] BaseMax commented on #382
Other languages are inside the `langs` directory. You can take a look on other languages: https://github.com/One-Language/One/tree/main/langs

[2022-09-14 12:13] jbampton opened #385 "Use relative links"
#381

[2022-09-15 08:04] jbampton commented on #28
Well done everyone.  Thanks.  Closing as done. 👍

[2022-09-15 08:18] jbampton opened #387 "Use Makefile for `pre-commit` tasks"
Using a Makefile seems more standardized and groups tasks to one central file

Could use like this:

[code]

[2022-09-15 09:33] #387 closed

[2022-09-16 04:54] #385 closed

[2022-09-16 04:59] jbampton commented on #51
Have not seen this for a while. Closing now

[2022-09-16 04:59] #51 closed

[2022-09-16 08:46] jbampton opened #391 "🏷️ Update labels in GitHub labeler 🏷️"
https://github.com/One-Language/One/blob/main/.github/labeler.yml

Seems we have some `duplicates` and differing of word case

<img width="816" alt="Screen Shot 2022-09-16 at 6 44 37 pm" src="https://user-images.githubusercontent.com/418747/190596876-79621596-1005-4c8c-a45b-1fead13faca1.png">

[2022-09-16 11:17] #382 closed

[2022-09-16 11:19] jbampton opened #392 "Add Yaminyam"

[2022-09-16 11:20] jbampton commented on #392
@all-contributors please add @Yaminyam for translation

[2022-09-16 11:22] #392 closed

[2022-09-30 22:44] #106 closed

[2022-10-23 08:53] jbampton opened #406 "Add license header to all files"
Going use `pre-commit` for this with license templates

[2022-10-23 09:28] BaseMax commented on #406
It's a great idea to automate it. Thanks

[2022-10-26 15:07] jbampton opened #409 "gha: check Markdown links: https://www.instagram.com/one.lang → Status: 429"
https://github.com/One-Language/One/actions/runs/3330163084/jobs/5508290252

https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/429

[2022-10-26 21:56] BaseMax opened #413 "Change License template"
https://github.com/One-Language/One/blob/main/license-templates/LICENSE.txt

[2022-10-30 16:28] Lightyagami1 commented on #318
I can take a stab at this.

so as I understood this, I need to add a `action.yml` at the root of project with content

[code]

[2022-10-31 03:05] jbampton commented on #318
Hey @Lightyagami1 good to hear from you.

I will assign you now

[2022-11-05 15:45] BaseMax opened #417 "Auto run pre-commit on top of Git"
[code]

I need to focus on development and the core. can we add pre-commit on top of Git as a hack/module?

[2022-11-05 15:45] BaseMax commented on #417
[code]

[2022-11-28 17:12] jbampton commented on #417
`make check`

[2022-11-28 17:25] jbampton commented on #326
Now we just need some minor clean up

[code]

[2022-11-28 19:11] jbampton opened #421 "🔗 We need a much better link for "Getting Started" 🔗"
Perhaps link to the Document site ?

Currently links to: https://github.com/One-Language/One/wiki

<img width="602" alt="Screen Shot 2022-11-29 at 5 09 00 am" src="https://user-images.githubusercontent.com/418747/204360921-531b8890-a462-44e3-91a3-c29aebb81827.png">

[2022-11-29 10:22] #409 closed

[2022-11-29 11:24] #391 closed